{
    "root": true,
    "extends": "universe/native",
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "rules": {
      "no-dupe-class-members": "off",
      "no-shadow": "off",
      "react-native/no-inline-styles": "off"
    }
  }
  